.item {
  display: flex;
  gap: 14px;
}

.logo {
  width: 54px;
  height: 54px;
  flex-shrink: 0;
}

.logo > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: inline-block;
  position: relative;
}

.logo > img::after {
  content: "Не удалось загрузить лого";
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 10px;
  text-align: center;
  color: #9f9f9f;
  background-color: #fff;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.info > p {
  margin: 0;
}

.name {
  font-size: 14px;
}

.name:hover {
  cursor: pointer;
}

.domain {
  font-size: 12px;
  color: #9f9f9f;
}

a {
  text-decoration: none;
  color: inherit;
}
