.container {
  width: 429px;
  background: #fff;
  padding: 31px 56px 44px 41px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.title {
  color: #484848;
  font-size: 12px;
  margin: 0 0 8px 0;
}

.btn {
  width: 30%;
}
